# If you want electrum to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum.desktop

[Desktop Entry]
Comment=Lightweight CrypticCoin Client
Exec=electrum %u
GenericName[en_US]=CrypticCoin Wallet
GenericName=CrypticCoin Wallet
Icon=electrum
Name[en_US]=CrypticCoin Electrum Wallet
Name=CrypticCoin Electrum Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/bitcoin;

